.projects {
  width: 100%;
  margin: auto;
  min-height: 90vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: center;

  h2 {
    margin: 2rem;
    font-family: var(--special-font-1);
    font-size: var(--text-medium);
  }

  h5 {
    font-family: var(--special-font-1);
    font-size: 2.5rem;
    padding: 2rem;
  }
}

.code,
.jscode {
  color: white;
}

.project:hover .code {
  color: var(--color-tertiary-2);
  transition: all ease 0.35s;
  cursor: pointer;
}

.project:hover {
  cursor: pointer;
}

.project:hover .jscode {
  color: blueviolet;
  transition: all ease 0.35s;
  cursor: pointer;
}

.portfolio {
  flex: 1 1 50rem;
  margin-bottom: 5rem;

  .portfolio-image {
    cursor: pointer;
    height: 25rem;
    width: 45rem;

    box-shadow: var(--shadow-dark);
    border-radius: 1.5rem;

    &:hover {
      transform: scale(1.1);
      transition: all ease-in-out 0.3s;
    }

    &:active {
      transform: translateY(1.5rem);
    }
  }
}

.projects-social {
  padding: 2rem 2rem;

  h5 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    color: var(--gray-text);

    img {
      margin-left: 1.5rem;
      height: 4.5rem;
      width: 4.5rem;

      &:hover {
        transform: scale(1.3);
        transition: all ease-in-out 0.3s;
      }

      &:active {
        transform: translateY(1.2rem);
      }
    }
  }
}
